<section>
    <div class="content">
        <div class="top">
            <p>IN THEIR WORDS:</p>
            <h2>Colleague's Thoughts</h2>
        </div>
        <div class="bottom">
            <div class="sticker1">
                <div class="hover">
                    <div>
                        <p>Karl really kept the team together with his great organization and clear communication. We wouldnt have got this far without his commitment.</p>
                    </div>
                    <div class="sticker-bottom">
                        <div class="autor"><span>Tobias Lange</span><p>Frontend Developer</p></div>
                        <div class="linkedIn">
                            
                        </div>
                    </div>
                </div>
            </div>
            <div class="sticker2">
                <div class="hover">
                    <div>
                        <p>Karl really kept the team together with his great organization and clear communication. We wouldnt have got this far without his commitment.</p>
                    </div>
                    <div class="sticker-bottom">
                        <div class="autor"><span>Tobias Lange</span><p>Frontend Developer</p></div>
                        <div class="linkedIn">
                            
                        </div>
                    </div>
                </div>
            </div>
            <div class="sticker3">
                <div class="hover">
                    <div>
                        <p>Karl really kept the team together with his great organization and clear communication. We wouldnt have got this far without his commitment.</p>
                    </div>
                    <div class="sticker-bottom">
                        <div class="autor"><span>Tobias Lange</span><p>Frontend Developer</p></div>
                        <div class="linkedIn">
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
