
<section>
    <div class="skills-grid">
        <div class="skills-col skills-left">
            <div class="skills-top">
                <p>MY STACK</p>
                <div class="skillSetImage">
                    <div class="animatedSkillBackground"></div>
                    <h2>Skill set</h2>
                </div>
            </div>
            <div class="skills-bottom">
            </div>
        </div>
        <div class="skills-col skills-center">
            <div class="skills-top">
                <div class="skills-intro">
                    A short introduction of your skills. Highlight you experience of using different front-end technologies and emphasise your openness to learning and adapting to new technologies.
                </div>
            </div>
            <div class="skills-bottom">
                <div class="bottom-center">
                    <div>
                        <img src="Assets/Images/04_Sonstiges/HTML.png" alt="">
                        <p>HTML</p>
                    </div>
                    <div>
                        <img src="Assets/Images/04_Sonstiges/CSS.png" alt="">
                        <p>CSS</p>
                    </div>
                    <div>
                        <img src="Assets/Images/04_Sonstiges/JS.png" alt="">
                        <p>JavaScript</p>
                    </div>
                    <div>
                        <img src="Assets/Images/04_Sonstiges/TS.png" alt="">
                        <p>TypeScript</p>
                    </div>
                    <div>
                        <img src="Assets/Images/04_Sonstiges/Angular.png" alt="">
                        <p>Angular</p>
                    </div>
                    <div>
                        <img src="Assets/Images/04_Sonstiges/Firebase.png" alt="">
                        <p>Firebase</p>
                    </div>
                    <div>
                        <img src="Assets/Images/04_Sonstiges/Git.png" alt="">
                        <p>Git</p>
                    </div>
                    <div>
                        <img src="Assets/Images/04_Sonstiges/REST-API.png" alt="">
                        <p>REST-API</p>
                    </div>
                    <div>
                        <img src="Assets/Images/04_Sonstiges/Scrum.png" alt="">
                        <p>Scrum</p>
                    </div>
                    <div>
                        <img src="Assets/Images/04_Sonstiges/Figma.png" alt="">
                        <p>Figma</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="skills-col skills-right">
            <div class="skills-top">
                <div></div>
            </div>
            <div class="skills-bottom">
                <div class="bottom-right"></div>
            </div>
        </div>
    </div>
</section>