<header>
    <div class="content">    
        <img src="Assets/Images/04_Sonstiges/LOGO.png" alt="LOGO">
        <nav>
            <ul>
                    <li class="nav-about"><a href="">About Me</a></li>
                    <li class="nav-skills"><a href="">Skills</a></li>
                    <li class="nav-projects"><a href="">Projects</a></li>
                    <li class="nav-contact"><a href="">Contact</a></li>
            </ul>
        </nav>
        <img src="" alt="EN - DE">
    </div>
</header>