<header>
    <div class="content">    
        <img src="Assets/Images/04_Sonstiges/LOGO.png" alt="LOGO">
        <nav>
            <ul>
                    <li class="nav-about"><a href="#about">About Me</a></li>
                    <li class="nav-skills"><a href="#skills">Skills</a></li>
                    <li class="nav-projects"><a href="#projects">Projects</a></li>
                    <li class="nav-contact"><a href="#contact">Contact</a></li>
            </ul>
        </nav>
        <img src="" alt="EN - DE">
    </div>
</header>