<section>
    <div class="content">
        <div class="content-left">
            <div class="location"><img src="Assets/Images/04_Sonstiges/location.png" alt=""><p>based in Hildesheim</p></div>
            <div class="move"><img src="Assets/Images/04_Sonstiges/move.png" alt=""><p>Open to relocate</p></div>
            <div class="remote"><img src="Assets/Images/04_Sonstiges/remote.png" alt=""><p>Open to work remote</p></div>
        </div>
        <div class="content-right">
            <div><h3>WHO`S MAIK?</h3></div>
            <div class="aboutMe"><h2>About me</h2>
            <div class="animatedBackground">
            </div></div>
            <div><p>Hey there, I`m Maik. Write some informations about yourself 
                that is IT related. Why are you passionate about coding? 
                what is your source of inspiration for improving your 
                programming skills? Do you learn from each challange 
                as you search for the most efficent or elegent solution 
                <br><br> Let`s collaborate and build something remarkable together!</p></div>
            <div class="button">
                <button>Let`s talk</button>
            </div>
        </div>
    </div>
</section>
