@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:wght@400;700&display=swap');

/* You can add global styles to this file, and also import other style files */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  position: relative;
  text-decoration: none;
  scroll-behavior: smooth;
  list-style: none;
}

html {
  -ms-overflow-style: none;


  scrollbar-width: none;
  overflow: auto;
  font-size: 10px;
}

html::-webkit-scrollbar {
  display: none;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

@keyframes boomerang {
  0% {
    clip-path: inset(0 100% 0 0);
  }

  20% {
    clip-path: inset(0 0 0 0);
  }

  40% {
    clip-path: inset(0 0 0 0);
  }

  60% {
    clip-path: inset(0 100% 0 0);
  }

  80% {
    clip-path: inset(0 100% 0 0);
  }

  100% {
    clip-path: inset(0 100% 0 0);
  }

}

@keyframes fadeRevealDown {
  0% {
    opacity: 0;
    -webkit-mask-image: linear-gradient(to bottom, transparent 0%, transparent 0%, black 0%, black 0%, transparent 100%);
    mask-image: linear-gradient(to bottom, transparent 0%, transparent 0%, black 0%, black 0%, transparent 100%);
  }

  10% {
    opacity: 0.1;
    -webkit-mask-image: linear-gradient(to bottom, transparent 0%, black 0%, black 10%, transparent 10%, transparent 100%);
    mask-image: linear-gradient(to bottom, transparent 0%, black 0%, black 10%, transparent 10%, transparent 100%);
  }

  20% {
    opacity: 0.2;
    -webkit-mask-image: linear-gradient(to bottom, transparent 0%, black 0%, black 20%, transparent 20%, transparent 100%);
    mask-image: linear-gradient(to bottom, transparent 0%, black 0%, black 20%, transparent 20%, transparent 100%);
  }

  30% {
    opacity: 0.3;
    -webkit-mask-image: linear-gradient(to bottom, transparent 0%, black 0%, black 30%, transparent 30%, transparent 100%);
    mask-image: linear-gradient(to bottom, transparent 0%, black 0%, black 30%, transparent 30%, transparent 100%);
  }

  40% {
    opacity: 0.4;
    -webkit-mask-image: linear-gradient(to bottom, transparent 0%, black 0%, black 40%, transparent 40%, transparent 100%);
    mask-image: linear-gradient(to bottom, transparent 0%, black 0%, black 40%, transparent 40%, transparent 100%);
  }

  50% {
    opacity: 0.5;
    -webkit-mask-image: linear-gradient(to bottom, transparent 0%, black 0%, black 50%, transparent 50%, transparent 100%);
    mask-image: linear-gradient(to bottom, transparent 0%, black 0%, black 50%, transparent 50%, transparent 100%);
  }

  60% {
    opacity: 0.6;
    -webkit-mask-image: linear-gradient(to bottom, transparent 0%, black 0%, black 60%, transparent 60%, transparent 100%);
    mask-image: linear-gradient(to bottom, transparent 0%, black 0%, black 60%, transparent 60%, transparent 100%);
  }

  70% {
    opacity: 0.7;
    -webkit-mask-image: linear-gradient(to bottom, transparent 0%, black 0%, black 70%, transparent 70%, transparent 100%);
    mask-image: linear-gradient(to bottom, transparent 0%, black 0%, black 70%, transparent 70%, transparent 100%);
  }

  80% {
    opacity: 0.8;
    -webkit-mask-image: linear-gradient(to bottom, transparent 0%, black 0%, black 80%, transparent 80%, transparent 100%);
    mask-image: linear-gradient(to bottom, transparent 0%, black 0%, black 80%, transparent 80%, transparent 100%);
  }

  90% {
    opacity: 0.9;
    -webkit-mask-image: linear-gradient(to bottom, transparent 0%, black 0%, black 90%, transparent 90%, transparent 100%);
    mask-image: linear-gradient(to bottom, transparent 0%, black 0%, black 90%, transparent 90%, transparent 100%);
  }

  100% {
    opacity: 1;
    -webkit-mask-image: linear-gradient(to bottom, transparent 0%, black 0%, black 100%, transparent 100%);
    mask-image: linear-gradient(to bottom, transparent 0%, black 0%, black 100%, transparent 100%);
  }
}

@keyframes fillUpBg {
  from {
    height: 0%;
  }

  to {
    height: 100%;
  }
}