<section>
    <div class="content">
        <div class="top">
            <div class="top-left">
                <h3>My Craft</h3>
                <div class="project">
                    <h2>Projects</h2>
                    <div class="animatedProjectBackground"></div>
                </div>
                
                <p>Encourage people to take a look and interact with your projects. Highlight your approach to creating responsive, user-friendly projects with efficent code.</p>
            </div>
            <div class="top-right">
                <img src="Assets/Images/04_Sonstiges/project-placeholder.png" alt="">
                <h3>Join</h3>
                <p>Task manager inspired by the Kanban System. Create and organize tasks using drag and drop functions, assign users and categories.</p>
            </div>
        </div>
        <div class="bottom">
            <div class="bottom-left">
                <img src="Assets/Images/04_Sonstiges/project-placeholder.png" alt="">
                <h3>El Pollo Loco</h3>
                <p>Jump, run and throw game based on object-oriented approach. Help Pepe to find coins and tabasco salsa to fight against the crazy hen.</p>
            </div>
            <div class="bottom-right">
                <img src="Assets/Images/04_Sonstiges/project-placeholder.png" alt="">
                <h3>DABubble</h3>
                <p>This App is a Slack Clone App. It revelutionizes team communication and collaboration with its intuitive interface, real-time messaging, and robust channel organization.</p>
            </div>
            
        </div>
    </div>
</section>
